nav{
  background: black !important;
  margin: 0 !important;
  border-color: black !important;
  border-radius: 0 !important;
  padding: 1%;
}

.sinopsis{
  opacity: .8;
  background-color: black;
  font-family: 'Raleway', sans-serif;

}

body{
  background: #f2f2f2;
}

.top-form{
  background: black !important;
  color: orange !important;
  font-family: 'Raleway', sans-serif;
}

.tabtab{
  color: orange !important;
  font-family: 'Raleway', sans-serif;
  transition: all 0.3s ease-in-out !important;
}

.tabtab:focus{
  text-decoration: none !important;
  box-shadow: none;
  border-color: transparent;
  background-color: rgba(0, 119, 204, 0) !important;
}

a.tabtab:hover{
  color: #ff6800 !important;
  transform: scale(1.1);
}

h1{
  text-shadow: 2px 2px #777777;
  margin-left: -25%;
}

.titulo-pos{
  margin-bottom: -8%;
  margin-left: -25%;
  padding: 20px;
}

#container-land{
  width: 100% !important;
  height: 100% !important;
}
